@page "/Usuarios"

<AuthorizeView Roles= "Administrador">

    <Authorized Context="AuthenticationState">
        <h3>Lista de Usuarios</h3>
        <div class="for-group-row">
            <div class="col-sm-10">
                <a href="/Usuarios/Nuevo" class="btn btn-primary m-1">Nuevo Usuario</a>
            </div>

        </div>

        @if (listaUsuarios == null)
        {
            <p>No existen usuarios en el sistema</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Esta Activo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in listaUsuarios)
                    {
                        <tr>
                            <td>@user.Codigo</td>
                            <td>@user.Nombre</td>
                            <td>@user.Rol</td>
                            <td>
                                @if(@user.EstaActivo)
                                {
                                    <span class="oi oi-circle-check" style="color: green;"></span>
                                }
                                else
                                {
                                    <span class="oi oi-circle-x" style="color: red;"></span>
                                }

                            
                            </td>
                           <th>
                               <a class="btn btn-success" href="@($"/Usuarios/Editar/{user.Codigo}")">Editar</a>        
                           </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>

</AuthorizeView>
